<form ng-submit="submit()">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        选择器
        <button type= "submit"
                class="btn btn-xs btn-info pull-right">应用</button>
        <button type= "reset"
                class="btn btn-xs btn-info pull-right">重置</button>
      </div>
      <div class="panel-body">
        <input-form field-def="$ctrl.fieldDef" input-object="$ctrl.inputObject"></input-form>
      </div>
    </div>
  </div>
</form>
