<form ng-submit="submit()">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        选择器
        <button type= "submit"
                class="btn btn-xs btn-info pull-right">应用</button>
        <button type= "reset"
                class="btn btn-xs btn-info pull-right">重置</button>
      </div>
      <div class="panel-body">
          <div ng-repeat="field in fields">
            <div ng-if="field.fieldType=='range'">
              <range-field attr="field"></range-field>
            </div>
            <div ng-if="field.fieldType=='text-search'">
              <text-search-field attr="field"></text-search-field>
            </div>
          </div>
      </div>
    </div>
  </div>
</form>
