
      <div ng-repeat="field in fields"
            ng-class="{'col-xs-7':inlineDisplay,
                      'col-sm-5':inlineDisplay,
                      'col-lg-3' : inlineDisplay}">
        <div ng-if="field.type=='text'" class="input-group well-sm">
          <span class="input-group-addon">{{field.label}}</span>
          <input class="form-control" type="text"
            ng-model="field.value"
            ng-readonly="field.readonly"
            ng-change="onFieldChange(field)"/>
        </div>
        <div ng-if="field.type=='number'" class="input-group well-sm">
          <span class="input-group-addon">{{field.label}}</span>
          <input class="form-control" type="number"
            ng-model="field.value"
            ng-readonly="field.readonly"
            ng-change="onFieldChange(field)"/>
        </div>
        <div ng-if="field.type=='date'" class="input-group well-sm">
          <span class="input-group-addon">{{field.label}}</span>
          <input class="form-control" type="date"
            ng-model="field.value"
            ng-readonly="field.readonly"
            ng-change="onFieldChange(field)"/>
        </div>
        <div ng-if="field.type=='boolean'" class="input-group well-sm">
          <span class="input-group-addon">{{field.label}}</span>
          <div class="form-control">
            <input type="checkbox"
              ng-model="field.value"
              ng-change="onBooleanFieldChange(field)"
              ng-readonly="field.readonly"/>
          </div>
        </div>
      </div>
