<list-picker attr="$ctrl.pickerAttr">
</list-picker>
<div class="panel panel-primary ">
  <div class="panel-heading collapsed" data-toggle="collapse" data-target=".collapse-panel">
    出库表单
  </div>
  <div class="panel-body collapse-panel collapse">

    <div class="col-lg-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          SY01_C01_1885500_1612
        </div>
        <div class="panel-body">

          <p>abcdefg</p>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          SY01_C01_1885500_1612
        </div>
        <div class="panel-body">

          <p>abcdefg</p>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          SY01_C01_2273800_1612
        </div>
        <div class="panel-body">

          <p>abcdefg</p>
        </div>
      </div>
    </div>
  </div>
</div>
