<div  class="panel panel-primary ">
  <div class="panel-heading">
    {{$ctrl.fieldDef.label}}
    <span class = "pull-right">
      <button ng-if="mode == 'edit'"
              ng-click = "review()"
              class="btn btn-xs btn-info">完成出库</button>
      <button ng-if="mode == 'review'"
              ng-click = "edit()"
              class="btn btn-xs btn-info">更改出库单</button>
      <button ng-if="mode == 'review'"
              ng-click = "submit()"
              class="btn btn-xs btn-info">提交出库单</button>
      <button ng-if="mode == 'review'"
              ng-click = "print()"
              class="btn btn-xs btn-info">打印出库单</button>
    </span>
  </div>

  <div ng-if="mode=='edit'" class="panel-body collapse-panel">
    <div  class="panel panel-primary ">
      <div class="panel-body">
        <input-form field-def="$ctrl.fieldDef.outboundInfo"
                    input-object = "$ctrl.outboundInfo"></input-form>
      </div>
    </div>

    <h5>
      {{$ctrl.fieldDef.scheduleInfo.label}}
    </h5>
    <info-table field-def="$ctrl.fieldDef.scheduleInfo"
                data="$ctrl.scheduleInfo"></info-table>
    <h5>
      {{$ctrl.fieldDef.itemList.label}}
    </h5>
    <edit-list-table field-def="$ctrl.fieldDef.itemList"
                  item-list="$ctrl.outboundItems"
                  on-complete = ""></edit-list-table>
    <h5>
      {{$ctrl.fieldDef.leftOver.label}}
    </h5>
    <edit-list-table field-def="$ctrl.fieldDef.leftOver"
                  item-list="$ctrl.leftOverItems"
                  on-complete = ""></edit-list-table>

    <button ng-click = "review()"
            class="btn btn-sm btn-info pull-right">完成入库单</button>
  </div>
  <div ng-if="mode=='review'" class="panel-body collapse-panel">
    <info-table field-def="$ctrl.fieldDef.scheduleInfo"
                data="$ctrl.outboundInfo"></info-table>
                <h5>
                  {{$ctrl.fieldDef.scheduleInfo.label}}
                </h5>
    <info-table field-def="$ctrl.fieldDef.scheduleInfo"
                data="$ctrl.scheduleInfo"></info-table>
                <h5>
                  {{$ctrl.fieldDef.itemList.label}}
                </h5>

    <list-table field-def="$ctrl.fieldDef.itemList"
                item-list="$ctrl.outboundItems"></list-table>
                <h5>
                  {{$ctrl.fieldDef.leftOver.label}}
                </h5>
    <list-table field-def="$ctrl.fieldDef.leftOver"
                item-list="$ctrl.leftOverItems"></list-table>
  </div>
</div>
