<form name = "newStorageForm" ng-submit="updateStorage({storagePN : storage.pn})"/>
  <div>
    <label>PN:</label>
    <input required ng-model = "pn" />
    <div>
      <ul ng-repeat = "storage in storages | filter : pn">
        <li>
          <a ui-sref="updateStorage({storagePN : storage.pn})">{{storage.pn}}</a>
          <p>{{storage.brand}}</p>
        </li>
      </ul>
    </div>
  </div>
  <input class="btn btn-default" type="submit" value="Submit" ng-click="updateStorage({storagePN : storage.pn})"/>
</form>
