<nav ng-if="authendicated" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">天骏物流 Hyperion 库存管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="hyperion.storage({'formType':'increase'})">进库
            <span class="sr-only">(current)</span></a>
        </li>
        <li><a ui-sref="hyperion.storage({'formType':'decrease'})">出库
          </a></li>
        <li><a ui-sref="hyperion.list({'formType':'storageDashboard'})">盘点</a></li>
        <li><a ui-sref="hyperion.list({'formType':'storageRecordDashboard'})">记录</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">添加新的<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="hyperion.addNew({'formType':'newBrand'})">品牌</a></li>
            <li><a ui-sref="hyperion.addNew({'formType':'newProduct'})">型号</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="hyperion.addNew({'formType':'newWarehouse'})">仓库</a></li>
            <li><a ui-sref="hyperion.addNew({'formType':'newWarehouseArea'})">库位</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="hyperion.addNew({'formType':'newMerchant'})">经销商</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="hyperion.addNew()">用户</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">English</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户名 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">{{userInfo.userName}}</a></li>
            <li><a href="#">{{userInfo.userEmail}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="logoff()">登出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class = "container">
  <div ng-if="authendicated" ui-view></div>
  <div ng-if="!authendicated" ng-include="'src/template/hyperion/login.html'">
  </div>
</div>
